@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

:root{
    --primary-color: #04f7ff;
    --secondary-color: #e77cd9;
    --accent-color: #f38b04;
    --light-grey: #8b9396;
    --bs: 0.25em  0.25em 0.75em var(--secondary-color),
            0.125em 0.125em 0.25em var(--secondary-color);

    --text-glow: 0 0 3px #fff;

}


:focus{
    outline: 3px solid var(--primary-color);
    outline-offset: 2px;
    border-radius: 25px;
}

html,body{
    font-family: 'Goldman', cursive;
    text-align: center;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

a{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}



.hidden{
      display: none;
  }


.welcome-fade{
    animation: fadeOut ease 1s forward;
    animation-iteration-count: 1;
    opacity: 0;
}

.contact-row{
    height: 2em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.name-div, 
.email-div,
.button-div
{
    width: 33%;
}
.button-div{
    display: flex;
    justify-content: space-evenly;
}



@keyframes fadeInOut {
    0% {opacity: 0;}
    16.66% {opacity: 1;}
    33% {opacity: 0;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}